html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    /* filter: grayscale(100%); */
}

body {
    background: #e0e0e0;
    font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, 'Hiragino Sans GB', '微软雅黑', 'WenQuanYi Micro Hei', STHeiti, SimSun, sans-serif;
    min-width: 1080px;
}

#main-box {
    width: 1060px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 30% 70%;

    overflow: hidden;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#base-info {
    background-color: #00bfa5;
    color: rgba(255, 255, 255, 0.84);
    padding: 15px;

    top: 0;
    bottom: 0;
}

#main-list {
    background-color: #fff;
    padding: 15px;
}

#sculpture-top {
    margin: 25px 0 20px;
    text-align: center;
}

svg:not(:root) {
    overflow: hidden;
}

svg {
    width: 150px;
    height: 200px;
}

h1 {
    font-size: 22px;
    font-weight: normal;
    margin: .67em 0;
    text-align: center;
}

ul {
    list-style: none;
}

#base-info-sidebar {

}

#base-info-sidebar li {

}

.base-info-chip {

}

.base-info-chip li {

}

.base-info-chip li.title {
    font-size: 18px;
    color: #9f3;
    line-height: 40px;
}

.base-info-chip li.item {
    padding-left: 25px;
    font-size: 14px;
    line-height: 24px;
}

a, a:hover {
    color: rgba(255, 255, 255, 0.84);
}

.skill-bar-wrap {
    float: right;
    margin-right: 25px;
    height: 17px;
    width: 120px;
    background: #00796b;
    display: inline-block;
    border-radius: 20px;
}

.skill-bar {
    height: 17px;
    background: #fff;
    border-radius: 20px 0 0 20px;
}

#main-list > ul {

}

#main-list > ul > li {
    padding-top: 20px;
}

#main-list h3 {
    font-size: 24px;
    color: #00796b;
    line-height: 30px;
    border-bottom: 1px solid #00796b;
    margin: 0 0 15px 5px;
}

#skill-list {

}

#skill-list li {
    list-style: circle;
    margin: 10px 0 10px 40px;
}

#skill-list li p {
    font-size: 15px;
    color: #616161;
    line-height: 22px;
    margin-bottom: 3px;
}

#exp-list {

}

#exp-list .title {
    margin-bottom: 10px;
    padding-left: 10px;
}

#exp-list .title h4 {
    line-height: 24px;
    font-size: 18px;
    color: #004d40;
    font-weight: 800;
}

#exp-list .exp-cnt {

}

.exp-cnt {

}

h4 {
    line-height: 30px;
    font-size: 16px;
    color: #000;
    position: relative;
    bottom: 3px;
    font-weight: bold;
}

.exp-cnt .circle {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: #00796b;
    float: left;
    position: absolute;
    left: -28px;
    top: 5px;
}

.exp-cnt .clearfix {
    zoom: 1;
}

.exp-cnt > ul {
    border-left: 2px solid #00796b;
    margin-left: 15px;
}

.exp-cnt > ul > li {
    position: relative;
    top: -5px;
    margin: 0 0 0 20px;
    padding-bottom: 24px;
}

.exp-cnt:last-child li {
    padding-bottom: 0;
}

.respons-disc, .respons {
    display: flex;
    font-size: 15px;
    color: #616161;
    line-height: 20px;
    margin-bottom: 3px;
}

.respons p.respons-title {
    align-self: start;
}

.respons .respons-list {
    margin-left: 5px;
}

.respons-disc:last-child {
    margin-bottom: 0;
}


