html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background: #e0e0e0;
    font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, 'Hiragino Sans GB', '微软雅黑', 'WenQuanYi Micro Hei', STHeiti, SimSun, sans-serif;
    min-width: 1080px;
}

#main-box {
    width: 1020px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 32% 68%;

    overflow: hidden;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#base-info {
    background-color: #00bfa5;
    color: rgba(255, 255, 255, 0.84);
    padding: 15px;

    top: 0;
    bottom: 0;
}

#exp-list {
    background-color: #fff;
    padding: 15px;
}

#sculpture-top {
    margin: 25px 0 20px;
    text-align: center;
}

svg:not(:root) {
    overflow: hidden;
}

svg {
    width: 150px;
    height: 200px;
}

h1 {
    font-size: 22px;
    font-weight: normal;
    margin: .67em 0;
    text-align: center;
}

ul {
    list-style: none;
}

#base-info-sidebar {

}

#base-info-sidebar li {

}

.base-info-chip {

}

.base-info-chip li {

}

.base-info-chip li.title {
    font-size: 18px;
    color: #9f3;
    line-height: 40px;
}

.base-info-chip li.item {
    padding-left: 25px;
    font-size: 14px;
    line-height: 24px;
}

a, a:hover {
    color: rgba(255, 255, 255, 0.84);
}

.skill-bar-wrap {
    float: right;
    margin-right: 25px;
    height: 17px;
    width: 120px;
    background: #00796b;
    display: inline-block;
    border-radius: 20px;
}

.skill-bar {
    height: 17px;
    background: #fff;
    border-radius: 20px 0 0 20px;
}
